@import "../globals";

.about-section {
    @include flexCenter;
    margin-top: 35%;
    background-color: var(--secondary-color);
    color: var(--font-color-light);

    .about-section__title--underline {
        @include triangleUnderline;
    }

    .about-section__content {
        @include flexCenter;
        text-align: center;
        padding: 0 11% 9% 8%;

        div {
            padding: 4%;
        }

        @media (min-width: $breakpoint-laptop) {
            flex-direction: row !important;
        }
    }
}
