@import "../globals";

.home-section {
    @include flexCenter;
    width: 100vw;

    & > div {
        @include flexCenter;
    }

    &__img {
        margin-top: 30px;
        width: 100%;
        height: 100%;
    }

    &__introduction {
        width: 100%;
        margin-top: -20%;
        padding: 18% 7%;
        background-color: var(--card-color);
        box-shadow: -5px -5px 10px rgba($color: #2e2e2e, $alpha: 0.6);
        border-radius: 2px;

        pre {
            margin: 0;
        }
    }

    &__title {
        font-weight: 100;
        line-height: 1.3;
        text-align: center;
    }

    &__title--first-line {
        font-size: 11vw;
    }

    &__title--scnd-line {
        font-size: 8vw;
    }

    a {
        margin-top: -18px;
    }

    &__button {
        padding: 4%;
        background-color: var(--primary-color);
        border-radius: 2px;
        color: var(--button-font-color);
        width: 200px;
    }

    &__button:hover {
        cursor: pointer;
    }

    @media (min-width: $breakpoint-cellphone) {
        &__img {
            width: 80%;
            height: 80%;
        }

        &__title--first-line {
            font-size: 8vw;
        }

        &__title--scnd-line {
            font-size: 5vw;
        }
    }

    @media (min-width: $breakpoint-tablet) {
        height: 95vh;

        &__img {
            width: 70vw;
            height: 100%;
            object-fit: contain;
        }

        &__introduction {
            padding: 20% 15%;
        }

        &__title--first-line {
            font-size: 5.5vw;
        }

        &__title--scnd-line {
            font-size: 3vw;
        }
    }
}
