@import "../globals";

.projects-section {
    @include flexCenter;
    background-color: var(--secondary-color);
    color: var(--font-color-light);

    .projects-section__title--underline {
        @include triangleUnderline;
    }

    .project__item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
