@import "../globals";

.services-section {
    @include flexCenter;
    padding: 8%;

    .services-section__title--underline {
        @include triangleUnderline;
        border-top: 8px solid var(--secondary-color);
    }

    .services-section__content {
        @include flexCenter;
        text-align: center;
    }

    .card {
        width: 70vw;
        height: 60vh;
        margin: 5%;
        background-color: var(--card-color);
        box-shadow: 4px 4px 8px rgba(76, 76, 76, 0.8);
        border-radius: 8px;
    }

    .card__title {
        width: inherit;
    }

    .card__title h3 {
        position: absolute;
        bottom: 50px;
        left: 50px;
        z-index: 0;
    }

    .card__title img {
        width: inherit;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .card__text {
        padding: 6%;
    }

    @media (min-width: $breakpoint-laptop) {
        height: 100vh;
    }
}
