@forward "globals";
@forward "layout";
@import "./globals";

header {
    position: fixed;

    .navbar {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        height: 10vh;
        background-color: var(--secondary-color);
        box-shadow: 0 2px 7px rgba(61, 61, 61, 0.4);

        &__logo {
            width: 85px;
            height: 100%;
        }

        &__down-arrow {
            width: 90px;
            height: 75px;
            font-size: xx-large;
            text-align: center;
            color: var(--font-color-light);

            svg {
                transition: translate 500ms ease-in-out;
            }
        }

        &__down-arrow:hover {
            cursor: pointer;

            svg {
                translate: 0px 8px;
            }
        }

        &__dropdown {
            @include flexCenter;
            display: none;
            position: absolute;
            top: 10vh;
            width: 100vw;
            background-color: var(--secondary-color);

            .navbar__link {
                width: 100%;
                text-align: center;
                padding: 3%;
                color: var(--font-color-light);
            }

            .navbar__link:hover {
                cursor: pointer;
                background-color: #c6a5c5;
            }
        }
    }

    // @media (max-width: $breakpoint-tablet) {
    //     &__down-arrow svg:active {
    //         translate: 0px 8px;
    //     }
    // }
}

footer {
    width: 100vw;
    padding-top: 5%;

    .footer-contact {
        width: inherit;
        @include flexCenter;
    }

    .footer-contact div {
        text-align: center;
        height: 20vh;
    }

    .footer-contact pre {
        margin: 12% 0 12% 0;
    }

    .footer_icons {
        padding-top: 15%;
    }

    .footer-copyright {
        background-color: var(--secondary-color);
        text-align: center;
        padding: 4% 0 4% 0;
        width: 100%;
        height: 100%;
        font-size: 0.8em;
    }
}
