html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: "Bona Nova", serif;
  color: var(--font-color-dark);
}

button {
  border: 0;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--font-color-light);
}

h1,
h2,
h3,
h4 {
  line-height: 110%;
  margin: 0;
}

h2 {
  font-size: 1.9em;
  text-align: center;
  margin: 2%;
  padding: 10% 10% 1% 10%;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 2%;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 1%;
}

p {
  margin: 0;
  font-size: 1.1em;
}

a,
a:visited,
a:active {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: larger;
}

button {
  font-family: "Bona Nova", serif;
  font-size: 0.9em;
}

pre {
  font-family: "Bona Nova", serif;
}

:root {
  --primary-color: #6d4f6c;
  --secondary-color: #343434;
  --background-color: rgb(245, 245, 245);
  --font-color-dark: rgb(76, 76, 76);
  --font-color-light: rgb(239, 239, 239);
  --button-font-color: #e6e6e6;
  --card-color: #eceaea;
}

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.home-section .home-section__img {
  width: 100%;
  height: 90%;
  box-shadow: 0 -5px 6px rgba(46, 46, 46, 0.9);
}
@media (min-width: 900px) {
  .home-section .home-section__img {
    width: 35%;
    box-shadow: -5px -5px 10px rgba(46, 46, 46, 0.6);
  }
}
.home-section .home-section__introduction {
  width: 75%;
  margin-top: -12%;
  padding: 10% 4%;
  background-color: var(--card-color);
  box-shadow: -5px -5px 10px rgba(46, 46, 46, 0.6);
  border-radius: 2px;
}
.home-section .home-section__title {
  font-size: 2.3em;
  line-height: 1.6;
  text-align: center;
}
.home-section .home-section__button {
  margin-top: 5%;
  padding: 4%;
  background-color: var(--primary-color);
  border-radius: 2px;
  color: var(--button-font-color);
  width: 200px;
}
.home-section .home-section__button:hover {
  cursor: pointer;
}
@media (min-width: 900px) {
  .home-section {
    flex-direction: row;
    justify-content: space-around;
  }
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: "Bona Nova", serif;
  color: var(--font-color-dark);
}

button {
  border: 0;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--font-color-light);
}

h1,
h2,
h3,
h4 {
  line-height: 110%;
  margin: 0;
}

h2 {
  font-size: 1.9em;
  text-align: center;
  margin: 2%;
  padding: 10% 10% 1% 10%;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 2%;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 1%;
}

p {
  margin: 0;
  font-size: 1.1em;
}

a,
a:visited,
a:active {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: larger;
}

button {
  font-family: "Bona Nova", serif;
  font-size: 0.9em;
}

pre {
  font-family: "Bona Nova", serif;
}

:root {
  --primary-color: #6d4f6c;
  --secondary-color: #343434;
  --background-color: rgb(245, 245, 245);
  --font-color-dark: rgb(76, 76, 76);
  --font-color-light: rgb(239, 239, 239);
  --button-font-color: #e6e6e6;
  --card-color: #eceaea;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35%;
  padding: 8%;
  background-color: var(--secondary-color);
  color: var(--font-color-light);
}
.about-section .about-section__title--underline {
  width: 0;
  height: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-top: 8px solid rgb(255, 255, 255);
  margin-bottom: 15%;
}
.about-section .about-section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-section .about-section__content div {
  padding: 4%;
}
@media (min-width: 950px) {
  .about-section .about-section__content {
    flex-direction: row !important;
  }
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: "Bona Nova", serif;
  color: var(--font-color-dark);
}

button {
  border: 0;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--font-color-light);
}

h1,
h2,
h3,
h4 {
  line-height: 110%;
  margin: 0;
}

h2 {
  font-size: 1.9em;
  text-align: center;
  margin: 2%;
  padding: 10% 10% 1% 10%;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 2%;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 1%;
}

p {
  margin: 0;
  font-size: 1.1em;
}

a,
a:visited,
a:active {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: larger;
}

button {
  font-family: "Bona Nova", serif;
  font-size: 0.9em;
}

pre {
  font-family: "Bona Nova", serif;
}

:root {
  --primary-color: #6d4f6c;
  --secondary-color: #343434;
  --background-color: rgb(245, 245, 245);
  --font-color-dark: rgb(76, 76, 76);
  --font-color-light: rgb(239, 239, 239);
  --button-font-color: #e6e6e6;
  --card-color: #eceaea;
}

.services-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8%;
}
.services-section .services-section__title--underline {
  width: 0;
  height: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-top: 8px solid rgb(255, 255, 255);
  margin-bottom: 15%;
  border-top: 8px solid var(--secondary-color);
}
.services-section .services-section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.services-section .card {
  width: 70vw;
  height: 60vh;
  margin: 5%;
  background-color: var(--card-color);
  box-shadow: 4px 4px 8px rgba(76, 76, 76, 0.8);
  border-radius: 8px;
}
.services-section .card__title {
  width: inherit;
}
.services-section .card__title h3 {
  position: absolute;
  bottom: 50px;
  left: 50px;
  z-index: 0;
}
.services-section .card__title img {
  width: inherit;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.services-section .card__text {
  padding: 6%;
}
@media (min-width: 950px) {
  .services-section {
    height: 100vh;
  }
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: "Bona Nova", serif;
  color: var(--font-color-dark);
}

button {
  border: 0;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--font-color-light);
}

h1,
h2,
h3,
h4 {
  line-height: 110%;
  margin: 0;
}

h2 {
  font-size: 1.9em;
  text-align: center;
  margin: 2%;
  padding: 10% 10% 1% 10%;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 2%;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 1%;
}

p {
  margin: 0;
  font-size: 1.1em;
}

a,
a:visited,
a:active {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: larger;
}

button {
  font-family: "Bona Nova", serif;
  font-size: 0.9em;
}

pre {
  font-family: "Bona Nova", serif;
}

:root {
  --primary-color: #6d4f6c;
  --secondary-color: #343434;
  --background-color: rgb(245, 245, 245);
  --font-color-dark: rgb(76, 76, 76);
  --font-color-light: rgb(239, 239, 239);
  --button-font-color: #e6e6e6;
  --card-color: #eceaea;
}

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--font-color-light);
}
.projects-section .projects-section__title--underline {
  width: 0;
  height: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-top: 8px solid rgb(255, 255, 255);
  margin-bottom: 15%;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: "Bona Nova", serif;
  color: var(--font-color-dark);
}

button {
  border: 0;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--font-color-light);
}

h1,
h2,
h3,
h4 {
  line-height: 110%;
  margin: 0;
}

h2 {
  font-size: 1.9em;
  text-align: center;
  margin: 2%;
  padding: 10% 10% 1% 10%;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 2%;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 1%;
}

p {
  margin: 0;
  font-size: 1.1em;
}

a,
a:visited,
a:active {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: larger;
}

button {
  font-family: "Bona Nova", serif;
  font-size: 0.9em;
}

pre {
  font-family: "Bona Nova", serif;
}

:root {
  --primary-color: #6d4f6c;
  --secondary-color: #343434;
  --background-color: rgb(245, 245, 245);
  --font-color-dark: rgb(76, 76, 76);
  --font-color-light: rgb(239, 239, 239);
  --button-font-color: #e6e6e6;
  --card-color: #eceaea;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-section .contact-section__title--underline {
  width: 0;
  height: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-top: 8px solid rgb(255, 255, 255);
  margin-bottom: 15%;
  border-top: 8px solid var(--secondary-color);
}
.contact-section .contact-section__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-section .contact-section__container div {
  width: 75%;
  margin-bottom: 10%;
  padding: 10% 4%;
  background-color: var(--card-color);
  box-shadow: -5px -5px 10px rgba(46, 46, 46, 0.6);
  border-radius: 2px;
}
.contact-section .contact-section__container img {
  width: 100vw;
  margin-top: 10%;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: "Bona Nova", serif;
  color: var(--font-color-dark);
}

button {
  border: 0;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--font-color-light);
}

h1,
h2,
h3,
h4 {
  line-height: 110%;
  margin: 0;
}

h2 {
  font-size: 1.9em;
  text-align: center;
  margin: 2%;
  padding: 10% 10% 1% 10%;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 2%;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 1%;
}

p {
  margin: 0;
  font-size: 1.1em;
}

a,
a:visited,
a:active {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: larger;
}

button {
  font-family: "Bona Nova", serif;
  font-size: 0.9em;
}

pre {
  font-family: "Bona Nova", serif;
}

:root {
  --primary-color: #6d4f6c;
  --secondary-color: #343434;
  --background-color: rgb(245, 245, 245);
  --font-color-dark: rgb(76, 76, 76);
  --font-color-light: rgb(239, 239, 239);
  --button-font-color: #e6e6e6;
  --card-color: #eceaea;
}

header {
  position: fixed;
}
header .navbar {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  background-color: var(--secondary-color);
  box-shadow: 0 2px 7px rgba(61, 61, 61, 0.4);
}
header .navbar__logo {
  width: 90px;
  height: 100%;
}
header .navbar__down-arrow {
  width: 90px;
  height: 75px;
  font-size: xx-large;
  text-align: center;
}
header .navbar__down-arrow:hover {
  cursor: pointer;
}
header .navbar__down-arrow:hover svg {
  animation: arrowDown 1s 2 forwards;
}
header .navbar__dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  top: 75px;
  width: 100vw;
  background-color: var(--secondary-color);
}
header .navbar__dropdown .navbar__link {
  width: 100%;
  text-align: center;
  padding: 3%;
}
header .navbar__dropdown .navbar__link:hover {
  cursor: pointer;
}
header .navbar__dropdown #about {
  background-color: #c6a5c5;
}
header .navbar__dropdown #services {
  background-color: #ae84ad;
}
header .navbar__dropdown #projects {
  background-color: #a0709f;
}
header .navbar__dropdown #contact {
  background-color: #8d5e8c;
}

footer {
  width: 100vw;
  padding-top: 5%;
}
footer .footer-contact {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer-contact div {
  text-align: center;
  height: 20vh;
}
footer .footer-contact pre {
  margin: 12% 0 12% 0;
}
footer .footer_icons {
  padding-top: 15%;
}
footer .footer-copyright {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 4% 0 4% 0;
  width: 100%;
  height: 100%;
}

@keyframes arrowDown {
  from {
    translate: 0px 0px;
  }
  to {
    translate: 0px 10px;
  }
}
@keyframes arrowRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}/*# sourceMappingURL=main.css.map */