:root {
    --primary-color: #6d4f6c;
    --secondary-color: #343434;
    --background-color: rgb(245, 245, 245);
    --font-color: rgb(76, 76, 76);
    --button-font-color: #e6e6e6;
    --card-color: #e6e6e6;
}
