@use "../util";

h1,
h2,
h3,
h4 {
    line-height: 110%;
    margin: 0;
}

h2 {
    font-size: 1.9em;
    text-align: center;
    margin: 2%;
    padding: 80px 10% 1% 10%;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 2%;
}

h4 {
    font-size: 1.2em;
    margin-bottom: 1%;
}

p {
    margin: 0;
    font-size: 1.1em;
}

a,
a:visited,
a:active {
    text-decoration: none;
    letter-spacing: 1px;
    font-size: larger;
}

button {
    font-family: util.$font-regular;
    font-size: 0.9em;
}

pre {
    font-family: util.$font-regular;
}
