@use "../util";

h1,
h2,
h3,
h4 {
    line-height: 110%;
    margin: 0;
}

h3 {
    font-size: 1.2em;
}

p {
    margin: 0;
    font-size: 1.1em;
}

a,
a:visited,
a:active {
    text-decoration: none;
    letter-spacing: 1px;
    font-size: larger;
}

button {
    font-family: util.$font-regular;
    font-size: 0.9em;
}
